/* Color palette:
Name: Pastel Green
Hex: #79E381

Name: UFO Green
Hex: #48C353

Name: Dark-Green
Hex: #20AF24

Name: Rich Electric Blue
Hex: #009CD1

Name: Picton Blue
Hex: #30BEE1

Name: Crayola's Sky Blue
Hex: #63CFEA
*/

.theme-switch-button {
  display: none !important;
}

.bd-sidebar-primary .sidebar-primary-items__end {
  margin-top: 0;
}

.bd-article-container h1,
.bd-article-container h2 {
  color: #343a42;
}

nav.bd-links {
  margin-right: 0;
}

.toc-entry a.nav-link.active {
  border-left-color: #20AF24;
}

a,
a:hover,
a.headerlink.hover,
a:focus,
.prev-next-area a p.prev-next-title,
.toc-entry a.nav-link:hover,
.toc-entry a.nav-link.active,
nav.bd-links .active:hover > a,
nav.bd-links .active:focus > a,
nav.bd-links .active > a,
nav.bd-links li > a:hover,
nav.bd-links li > a:focus {
  color: #20AF24;
}

a.headerlink.active {
  color: #48C353;
}

code.literal {
  background-color: #e6f8e8;
  color: #333a42;
  border: 1px solid #e6f8e8;
}

.logo__image {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: 1px solid #48C353;
}

@media (min-width: 992px) {
  .bd-sidebar-secondary {
    height: 100vh;
    max-height: none;
  }

  .bd-sidebar-secondary .sidebar-secondary-items {
    height: 100%;
  }
}

.scrollable-container {
  max-width: 100%; /* Adjust based on your layout needs */
  overflow-x: auto; /* Enables horizontal scrolling */
  border: 2px solid #ccc; /* Optional: adds a border around the container */
}
#map-switcher {
  position: relative;
  width: 100%; /* Adjust as needed */
  height: 400px; /* Adjust as needed */
}
.map-container {
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%; /* Adjust based on your layout needs */
  height: 100%;
  max-width: 1000px;
  max-height: 500px;
  overflow: hidden; /* Enables horizontal scrolling */
  display: none;
}
.map-container img {
  width: 100%; /* Make the image fill the container width */
  height: 100%; /* Make the image fill the container height */
  object-fit: contain; /* Ensures the image's aspect ratio is preserved */
}
/* Show the first map by default */
.map-container:first-child {
  display: flex;
}
button {
  position: relative;
  z-index: 2; /* Ensures buttons are above the map containers */
  border: 2px solid #20AF24; /* Dark green border */
  background-color: #48C353; /* Green background */
  color: white; /* White text color for better contrast */
  padding: 10px 20px; /* Adjust padding to your liking */
  border-radius: 16px; /* Rounded corners */
  cursor: pointer; /* Changes cursor to pointer on hover */
  font-size: 16px; /* Adjust font size as needed */
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
  margin: 0 10px;
}
button:hover {
  background-color: #79E381; /* Lighter green on hover for visual feedback */
  color: black; /* Change text color on hover for better contrast */
}